# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
build
*.local

# Vite cache
.vite

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.tsbuildinfo
coverage

# English test remix folder
english-test-remix/

# papers_export_1
papers_export_1_full_old.json
papers_export_1_full.json